# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# SVG source (generated icon)
icon.svg
